body {
	padding: 0;
	margin: 0;
	color: #000000;
    font-family: "Myriad Pro", sans-serif;
    font-size: 8px;
    line-height: 1.2em;
	padding: 34px;
	background: #a3aab1;
}

h1, h2, h3 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
}

h1 {
	font-size: 28px;
	line-height: 1.5;
	color: #fff;
}

h2 {
	font-size: 23px;
	line-height: 0.6;
	text-align: center;
	margin: 5px;
	margin-top: 15px;
}

h3 {
	font-size: 19px;
	line-height: 1.8;
	margin: 5px;
}

h2 {
	background: url(img/titles.png) no-repeat center center;
}

a {
	text-decoration: none;
}

#about h2 {
	background: none;
	color: #fff;
}

.page {
	background: #fff;
	margin: 0 auto;
	max-width: 1000px;
}

.navigation {
	padding-top: 15px;
}

.navigation .layout-center {
	margin: 0 auto;
	max-width: 1000px
}

.navigation ul, .header {
	padding: 0;
	display: flex;
    justify-content: center;
    align-items: start;
}

.navigation ul {
	margin-bottom: 40px;
}

.navigation ul li {
	list-style: none;
}

.navigation a {
	text-transform: uppercase;
	color: #9ba7b4;
	padding: 0.5em 1.5em;
}

.navigation a:hover {
	color: #8fc74a;
}

.header {
	padding-top: 3.3em;
}

.header .phone {
	font-size: 12px;
	line-height: 1.2em;
	color: #8fc74a;
}

.header p, .header .logo {
	margin-right: 100px;
}

.header p, input {
	margin-top: 0;	
}

input[type="button"] {
	color: #8fc74a;
	font-size: 6.5px;
	line-height: 1.2;
	border: 1px solid #8fc74a;
	border-radius: 30px;
	padding: 5px;
	text-transform: uppercase;
	background: transparent;
	width: 85px;
}

#projects {
	background: url(img/front_house.jpg) no-repeat center center;
	height: 417px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
	margin-bottom: 25px;
}

#projects h1, #projects input {
    position: relative;
	top: 40px;
}

#projects input {
	top: 20px;
}

#houses, #news .content {
	width: 630px;
	margin: auto;
	margin-bottom: 115px;
}

#houses .description {
	font-size: 8px;
	line-height: 1.75;
	text-align: center;
}

#houses:after, #news:after, #gallery:after, .footer:after {
	width: 100%;
    content: '';
    display: block;
    clear: both;
}

.house-item {
	width: calc(100%/4 - 20px);
    float: left;
    text-align: center;
    padding: 10px;
}

#projects input, #about input {
	color: #fff;
	border-color: #fff;
	width: 115px;
	padding: 8px;
	font-size: 8px;
	line-height: 1.2;
}

#projects input {
	font-size: 18px;
}


#about {
	padding: 40px;
	background: url(img/about.jpg) no-repeat left top;
	background-size: cover;
}

#about .content {
	border: 4px solid #fff;
	padding: 30px 30px 20px 30px;
	text-align: center;
	width: 495px;
	margin: auto;
	line-height: 1em;
}

#news .content {
	margin-bottom: 170px;
}

#news .news-item {
	float: left;
	width: calc(100%/3 - 22px);
	margin-right: 32px;
}

#news .news-item:last-child {
	margin-right: 0;
}

#news .news-item .date {
	padding: 5px;
	width: 20px;
	background-color: #fff;
	text-align: center;
	color: #9ba7b4;
	font-size: 8px;
	line-height: 1.2em;
}

#news .news-item .number {
	font-size: 13px;
	line-height: 1em;
}

#news .news-item .date-container {
	padding: 7px 0 0 10px;
	background-size: 100%;
	height: 70px;
	background: url(img/news_1.jpg) no-repeat 50% 50%;
}

#news .news-item:nth-child(2) .date-container {
	background-image: url(img/news_2.jpg);
}

#news .news-item .description:before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
    border-style: solid;
    border-width: 0 7px 7px;
    content: "";
	position: relative;
    left: 5px;
	top: -16px;
}

#news .news-item .description {
	background-color: #fff;
	height: 50px;
}

#news, #gallery {
	padding: 35px;
}

#news .content, #gallery .content {
	width: 570px;
	margin-right: auto;
	margin-left: auto;
}

#news h2, #gallery h2 {
	font-size: 21px;
	line-height: 1.2em;
	margin-bottom: 28px;
}

#news, .footer {
	background-color: #e9edf0;
}

#gallery .gallery-item {
	float: left;
    margin-right: 5px;
	height: 100px;
	background: url(img/gallery_1.jpg) no-repeat 50% 50%;
	width: 50%;
	height: 279px;
}

#gallery .gallery-item:nth-child(2), #gallery .gallery-item:nth-child(3) {
	margin-right: 0;
	margin-bottom: 5px;
	height: 137px;
	width: calc(50% - 5px);
}

#gallery .gallery-item:nth-child(2) {
	background-image: url(img/gallery_2.jpg);
}

#gallery .gallery-item:nth-child(3) {
	background-image: url(img/gallery_3.jpg);
}

#gallery {
	margin-bottom: 10px;
}

.footer {
	color: #868e91;
	padding: 25px;
}

.footer svg {
	width: 20.5px;
	height: 20.5px;
	margin-right: 5px;
}

.footer .content {
	width: 570px;
	margin-right: auto;
    margin-left: auto;
}

.footer .share {
	float: left;
}

.footer p {
	float: right;
}


